# RPC settings. The second rpc is required until Fossil is live.
FIRST_RPC_URL="""
SECOND_RPC_URL="""

# WorldID settings
WORLD_IDENTITY_MANAGER="0xf7134CE138832c1456F2a91D64621eE90c2bddEa"
ROOT_SLOT=302

# risc0 Bonsai key. If not specified, risc0 proves locally
BONSAI_API_KEY=""
BONSAI_API_URL=""

# Required for deploying the relayer contracts.
# STARKNET_ACCOUNT and STARKNET_RPC are required by the relayer
STARKNET_ACCOUNT=""
STARKNET_KEYSTORE=""
STARKNET_RPC="https://starknet-mainnet.public.blastapi.io"

# Deployed contract addresses
RELAYER_STORE_ADDRESS=""
VERIFIER_ADDRESS=""
WORLD_RELAYER_VERIFIER_ADDRESS=""

# Starknet configuration
PRIVATE_KEY=""
